<!DOCTYPE html>
<html lang="en" ng-app="calculatorApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-controller="CalculatorController">
    <div class="calculator">
        <table>
            <thead>
                <tr>
                    <th>Line number</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Speed (MM:SS)</th>
                    <th>Total distance (km)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in teamMembers">
                    <td>{{$index + 1}}</td>
                    <td><input type="text" ng-model="member.firstName"  ng-change="updateRunners()"></td>
                    <td><input type="text" ng-model="member.lastName"  ng-change="updateRunners()"></td>
                    <td><input type="text" maxlength="4" ng-model="member.speed" ng-change="formatTime(member)"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="app.js"></script>
</body>
</html>